.comment {
    background: cadetblue;
    box-sizing: border-box;
    width: 350px;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #282c34;
    padding: 10px;
    border-radius: 10px;
}

.comment_block {
    text-align: left;
}