body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Times New Roman", serif;
    font-weight: 600;
}

form {
    width: 25%;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    color: rgba(41, 41, 41, 0.86);
}

input {
    width: 90%;
    height: 20px;
    border: 1px solid rgba(41, 41, 41, 0.86);
    border-radius: 10px;

    padding: 5px 10px;
    color: rgba(41, 41, 41, 0.86);
}

.errorContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error {
    text-align: left;
    color: red;
}

.addComment {
    width: 150px;
    height: 30px;
    background: coral;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;

    color: white;
    font-weight: inherit;
}

.addComment:disabled {
    background: rgba(255, 127, 80, 0.5);
}

.addUser:hover {
    transform: scale(0.9);
    transition: 0.8s;
}