html, body {
    min-height: 100%;
    overflow-x: hidden;
}

.cars {
    height: 100vh;
    background: lightyellow;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}